<div class="home_container">
    <h3><b><span class= "text">Welcome to Visitors tracker</span></b></h3>
    </br>

    <div class="item">
      <%= label_tag 'Visitors in Museum at', nil, class: 'home_label' %>

      <input id="datetimepicker" type="text" >
      <%= label_tag 'Custom dates', nil, class: 'home_right' %>
      <input id="datetimepicker1" type="text">
      <input id="datetimepicker2" type="text" >
      <button type="button" class="home_button" id="reload">Reload Chart</button>
    </div>
    </br>
    </br>

    <div class="white_panel">
      <%= select_tag "range", options_for_select(%w(15-mins Half-hourly Hourly Daily Weekly), "Hourly"), class: 'home_select_box' %>
      <div id='charts'>
      </div>
    </div>
</div>
