<h4 class="track_h4"><i><%= "#{@count} visitors present in Museum at #{@at_time}" %></i></h4>
<%= line_chart(@chart_data, xtitle: "#{@x_title}", ytitle: "Number of Users", width: "1100px", height: "250px", discrete: true, id: "chart1") %>